@import "tailwindcss";
@plugin "daisyui";

@theme {
  --color-secondary: var(--color-secondary);
}
:root {
  --bg-color: #ffffff;
  --text-color: #000000;
  --color-secondary: #D3D3D3;
}

/* Dark Mode - Manual (via .dark class) or Auto (via Media Query) */
@media (prefers-color-scheme: dark) {
  :root:not(.light) {
    --bg-color: #000000;
    --text-color: #ffffff;
    --color-secondary: #101010;
  }
}

.dark {
  --bg-color: #000000;
  --text-color: #ffffff;
  --color-secondary: #101010;
}

html {
  background-color: var(--bg-color);
}

/* Apply to the body */
body {
  background-color: var(--bg-color);
  min-height: 100vh;
  margin: 0;
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}
@utility nav-primary-text {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  color: var(--text-color);
  font-weight: bold;
}


@utility text-primary-text {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: var(--text-color);
  font-weight: normal;
}

@utility text-drop-down-text {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  color: var(--text-color);
  font-weight: normal;
}

@utility button-primary-button {
  font-familt: "Inter", sans-serif;
  font-size:16px;
  color: var(--bg-color);
  background-color: var(--text-color);
  font-weight: bold;
}

@theme {
  --color-secondary-box: #101010;
}

@utility footer-main-heading {
  font-family: "Inter", sans-serif;
}

@utility footer-sub-heading {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  color: var(--text-color);
  opacity: 0.6;
  cursor: pointer;
}

@utility header-text {
  font-family:"Inter", sans-serif;
  font-size: 4rem;
  color: var(--text-color);
  font-weight: normal;
}

@utility paragraph-text {
  font-family:"Inter", sans-serif;
  font-size: 1em;
  color: var(--bg-text);
  opacity: 0.6;
}

@utility pricing-text {
  font-family: "Inter", sans-serif;
  font-size: 0.75em;
  color: var(--text-color);
  font-weight: 200;
}

/* Change the color of ALL dots */
.slick-dots li button:before {
  color: var(--text-color) !important;
  opacity: 0.5; /* Inactive dots are usually semi-transparent */
}

/* Change the color of the ACTIVE dot only */
.slick-dots li.slick-active button:before {
  color: var(--text-color) !important;
  opacity: 1; /* Make the current slide dot solid red */
}

.slick-track {
  display: flex !important;
}

.slick-slide {
  height: inherit !important;
  display: flex !important;
}

.slick-slide > div {
  height: 100%;
  width: 100%;
}
